body { font-family: Helvetica, Arial, sans; font-size: 18px }
input { font-family: mono; font-size: 16px }
button { font-family: Helvetica, Arial, sans; font-size: 16px }
pre { font-family: mono; font-size: 16px }
