* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    font-family: Helvetica, Arial, sans;
}

.code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

#webtool {
    width: 800px;
    height: 600px;
}

.container {
    position: absolute;
}

.left {
    overflow: hidden; /* because the monaco editor is actually bigger than its container, sigh... */

    top: 16px;
    left: 0px;
    width: 392px;
    height: 568px;
}

.right {
    top: 16px;
    left: 408px;
    width: 376px;
    height: 568px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.controls {
    background: #bfbfbf;
    flex: initial;

    display: flex;
    flex-direction: column;
    justify-content: flex-first;
    align-items: stretch;
}

.control-header {
    flex: initial;

    display: flex;
    flex-direction: row;
    justify-content: flex-first;
    align-items: center;
}

.control-element {
    flex: initial;
    padding-top: 8px;

    display: flex;
}

.backend-opts {
    flex-direction: row;
    justify-content: flex-first;
    align-items: baseline;
}

.args {
    flex-direction: column;
    justify-content: flex-first;
    align-items: stretch;
}

.actions {
    flex-direction: row;
    justify-content: flex-first;
    align-items: baseline;
}

.output {
    background: #8f8f8f;
    flex: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.output-item {
    flex: initial;
    border: 1px solid #222;
}
